ENV=local
NEO4J_DIR=$HOME/neo4j
DATA_DIR=$HOME/neo4j/data
IMPORT_DIR=$HOME/neo4j/import
NEO4J_IMAGE=neo4j:community-ubi9
PLUGINS_DIR=$HOME/neo4j/plugins
NEO4J_PORT=7687
NEO4J_FRONTEND_PORT=7474
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=PASSWORD_PLACEHOLDER
CONTAINER_NAME=neo4j
APOC_VERSION=2026.03.1
GDS_VERSION=2026.03.0